<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Create Bank</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item">
              <a href="/dashboard/banks">Banks</a>
            </li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <%- include('../../layout/validation-message.ejs') %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create Bank</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="/dashboard/banks" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Name of the Owner</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Name of the Owner"
                  name="name"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Name of Bank</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Name of the Owner"
                  name="nameBank"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Account Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Account Number"
                  name="accountNumber"
                />
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
